@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Light Italic";
    src: url(./fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: "JosefinSans Regular";
    src: url(./fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: "JosefinSans Light Italic";
    src: url(./fonts/JosefinSans-LightItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JosefinSans Regular", sans-serif;
    list-style: none;
}
body {
    opacity: 0;
    transition: opacity 1s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245,);
    margin: 0px 20px;
}
.loaded {
    opacity: 1;
}
.header-container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
}
h1 {
    font-size: 1.5rem;
}

#Stylist {
    font-family: "JosefinSans Light Italic", sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: black;
}
#Mail {
    display: flex;
    justify-content: right;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

#Mail:hover {
    transform: scale(1.1);
}
#instagram {
    display: flex;
    justify-content: right;
    font-size: 1.3rem;
}
#instagram:hover {
    transform: scale(1.1);
}

#slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 1280px; */
    margin: auto;
}
#slider:hover .previous {
    opacity: 1;
    transition: opacity 0.3s ease;
}
#slider:hover .next {
    opacity: 1;
    transition: opacity 0.3s ease;
}
#slider img {
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.698) 0px 5px 15px;
    cursor: pointer;
}
.previous, .next {
    position: absolute;
    font-size: 180px;
    top: 300px;
    color: rgba(255, 255, 255, 0.799);
    opacity: 1;
    cursor: pointer;
}
.previous {
    left: 0;
}
.next {
    right: 0;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}
footer p {
    font-family: "JosefinSans Light Italic", sans-serif;
}

@media screen and (max-width: 560px) {
    body {
        margin: 0;
    }
    .header-container {
        display: flex;
        padding-top: 20px;
    }
    .contact-zone {
        display: flex;
        justify-content:  center;
        align-items: center;
    }
    #Mail {
        padding: 0;
        padding-right: 15px;
        font-size: 1.2rem;
        font-weight: 200;
    }
    #instagram {
        font-size: 1.3rem;
    }
    #slider {
        width: 100%;
    }
    #slider img {
        width: 100%;
        margin: 0;
        object-fit: cover;
    } 
    footer {
        padding-top: 30px;
    }
    footer p {
        font-family: "JosefinSans Light Italic", sans-serif;
    }
}
